@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Geist", Arial, Helvetica, sans-serif;
  background: #000000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  /* background: url("../assets/vids/scriptai_bg.mp4") center no-repeat; */
  /* background: url("https://res.cloudinary.com/adelabuadeleke/video/upload/v1757671942/scriptai_bg_wkqrsi.mp4"); */
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
}

header video {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

.header_content {
  position: absolute;
  top: 0;
  right: 0;
  /* z-index: 1; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: radial-gradient(
    141.65% 73.24% at 50% 26.76%,
    rgba(0, 0, 0, 0) 0%,
    #000000 100%
  );
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 83px;
  color: white;
}

nav > a,
nav > span,
.nav_links > a {
  color: white;
  text-decoration: none;
}

nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > a > img {
  margin-right: 10.5px;
}

nav > a > span {
  font-size: 33px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.nav_links {
  display: flex;
  gap: 94px;
}

.nav_links > a {
  font-size: 20px;
  font-weight: 400;
  color: #c2c2c2;
}

button.get_started {
  border: none;
  background: white;
  color: #161616;
  padding: 19.5px 55px;
  border-radius: 129px;
  box-shadow: 0px 12px 105.75px 0px #b891f878;
  font-size: 20px;
}

.header__contents_inner {
  color: white;
  display: flex;
  flex: 1;
}

.header__contents_outer {
  flex: 1;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0px 82px;
}

.header__contents_inner > h2 {
  flex: 0.4;
  font-size: 90.4px;
  line-height: 106%;
  font-weight: 700;
}

.inner_texts {
  flex: 0.6;
  margin-left: 28px;
}

.inner_texts > p {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 46.5px;
  color: #c2c2c2;
}

.inner_btn_div {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.videos__btns > a,
.inner_btn_div > a {
  color: #ffffff;
  margin-left: 27px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* our innovation */
.innovation {
  padding-top: 196px;
  padding-bottom: 366px;
}

.our_innovation_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.innovation_div {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  box-shadow: 0px 0px 33.7px 0px #4b53bc inset;
  padding: 17px 31px;
  color: white;
  border-radius: 30px;
}

.innovation > h2 {
  font-family: "Geist", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 90.4px;
  line-height: 106%;
  letter-spacing: 0%;
  color: #e4e4e4;
  text-align: center;
  margin-bottom: 30px;
}

.innovation > p {
  font-family: "Geist", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #474747;
  margin-bottom: 113px;
}

/* explore design */
.videos__items {
  display: flex;
  padding-left: 300px;
  overflow-x: scroll;
  margin-bottom: 112.1px;
}

.videos__items::-webkit-scrollbar {
  display: none;
}

.videos__items > video {
  border-radius: 22.3px;
  margin-right: 37px;
  width: 630px;
  height: 381.9px;
}

.videos__btns {
  /* height: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.for_movies {
  padding: 378px 0px 350px;
}

.for_movies > h2 {
  text-align: center;
  color: #ffffff;
  font-family: Geist;
  font-weight: 700;
  font-style: Bold;
  font-size: 90.4px;
  line-height: 106%;
  letter-spacing: 0%;
}

.movies__text_gradient {
  background: -webkit-linear-gradient(90.27deg, #337dec 0.06%, #efb03b 55.09%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* features style */
.features_container {
  padding: 100px 166px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features_div {
  display: grid;
  grid-template-columns: 995.81px 569.41px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.features_col-1 {
  grid-row: 1/3;
  grid-column: 1;
  /* background: white; */
  background: rgba(88, 88, 88, 0.4);
  backdrop-filter: blur(27.3x);
  border-radius: 21.19px;
  height: 1036.86px;
}

.features_col_2-1 {
  grid-row: 1;
  grid-column: 2;
  background: rgba(88, 88, 88, 0.4);
  backdrop-filter: blur(27.3x);
  /* backdrop-filter: ; */
  border-radius: 21.19px;
}

.features_col_2-2 {
  grid-row: 2;
  grid-column: 2;
  background: rgba(88, 88, 88, 0.4);
  backdrop-filter: blur(27.3x);
  border-radius: 21.19px;
}

.features_col_text {
  color: #fff;
}

.features_col_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features_col_img > img {
  width: 58%;
  padding-top: 98px;
  padding-bottom: 66.85px;
}

.features_col_text > h3 {
  font-family: "Almarai";
  font-weight: 700;
  font-style: Bold;
  font-size: 26.48px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 15.89px;
}

.features_col_text {
  color: rgba(146, 146, 146, 1);
  padding-left: 46px;
  padding-bottom: 64.97px;
}

.features_col_img.edit_video {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
}

.features_col_img.edit_video > img {
  padding: 0px;
}

.export_video.features_col_img {
  padding-top: 24.72px;
}

.export_video.features_col_img > img {
  height: 318px;
  width: 297px;
  padding: 0px;
  margin-bottom: 10px;
}

/* start your journey */
.start_journey {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 326px 0px;
}

.start_journey_inner {
  width: 80%;
  height: 640px;
  background: yellow;
  border-radius: 16px;
  background: rgba(13, 13, 13, 1);
  box-shadow: 0px 24px 23px 0px rgba(0, 0, 0, 0.25);
  background: url("../assets/imgs/infinity_ai_clip.png") right no-repeat;
  padding: 99px 0px 0px 60px;
  /* background-repeat: no-repeat; */
  /* background-position: 1000px -1000px; */
}

.start_journey_inner > h3 {
  font-family: Geist;
  font-weight: 600;
  font-size: 90.4px;
  line-height: 106%;
  letter-spacing: 0%;
  margin-bottom: 26px;
  color: #e4e4e4;
}

.start_journey_inner > p {
  font-family: Geist;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 133px;
  color: #474747;
}

.journey_started {
  background: #f0b539;
  color: #161616;
  font-family: Geist;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 19.5px 64.5px;
  border: transparent;
  border-radius: 30px;
  margin-right: 27px;
}

.journey_discord {
  padding: 19.5px 0px;
  border: transparent;
  border-radius: 30px;
  background: transparent;
  color: #ffffff;
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* footer styles */
footer {
  padding: 180px 176px 165px 184px;
}

.footer_bottom_bottom_links {
  display: flex;
  gap: 52px;
}

.footer_bottom_bottom_links > a > svg {
  filter: brightness(0) saturate(100%) invert(100%) sepia(15%) saturate(7444%)
    hue-rotate(292deg) brightness(123%) contrast(101%);
}

.footer_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 438px;
}

.footer_top > span.movies__text_gradient {
  font-family: "Geist";
  font-weight: 700;
  font-size: 90.4px;
  line-height: 106%;
  letter-spacing: 0%;
}

.footer_top_right > p {
  font-family: Geist;
  font-weight: 500;
  font-size: 40px;
  line-height: 101%;
  letter-spacing: 0%;
  color: #ffffff;
}

.footer_top_input_div {
  background: #ffffff0a;
  padding: 15px 20px;
  border-radius: 30px;
}

.footer_top_input_div > input {
  border: none;
  background: transparent;
  outline: none;
}

.footer_top_input_div > input::placeholder {
  color: #4a4a4a;
}

.footer_top_input_div > button {
  padding: 22px 27.5px;
  border: none;
  border-radius: 17px;
}

.footer_bottom {
  color: #fff;
}

.footer_bottom_bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
}

.footer_bottom_top {
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.footer_bottom_bottom > span {
  font-family: Lato;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.footer_bottom_top {
  border-bottom: 1px solid #313131;
  padding-bottom: 41px;
  display: flex;
  justify-content: flex-end;
  gap: 147px;
}
